* {
    box-sizing: border-box;
    margin:0;
    padding:0;
  }
  
  html,
  body {
    min-height: 100%;
  }
  
  /*body {
    position: relative;
    }*/
  
 .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4)
    }
    
  
  .modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
    }
    

    .modal-close {
        position: absolute;
        right: 10px;
        top: 5px;
        cursor: pointer;
        }

    .hidden {
        display: none;
    }

    header {
    width: 95%;
    margin:10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .2fr;
    align-content: center;
    
    }
    
    h1 {
        grid-column: 1 /span 3;
        background-color: #747d8c;
        color: rgb(207, 203, 203);
        font-size: 1.2em;
        text-align: center;
        padding:20px;
        font-family: 'Lato', sans-serif;
        font-weight: bolder;
      }

   input{
       height: 30px;
       grid-column: 2 /span 3;
       border-radius: 5px;
       outline:none;
     
    }
  
 
  
 
  .name{
    font-size: 1.2em;
    line-height: 1;
    text-align: center;
    margin: 10px auto 5px;
  }
  
  .email,
  .emailModal,
  .address,
  .addressModal,
  p {
    font-size: 0.9em;
    text-align: center;
    margin: 5px auto;
    color: #908f8f;
    
  }
  
  #left, 
  #right {
    position: absolute;
    top: 180px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    color: black;
    background-color: #fff;
  }
  
  #left {
    left: 15px;
  }
  
  .arrow {
    right: 15px;
  }
  
 
  .avatar {
    width: 65%;
    border-radius: 50%;
    margin: 0 auto 5px;
    text-align: center;
    border: none;
  }
   
  main {
    text-align: center;
    margin-top: 50px;
  }
  
  .card {
    width: 80%;
    background: white;
    border-radius: 15px;
    margin: 20px auto;
    border: 2px solid rgb(214, 214, 214);
    border-radius: 15px;
    padding: 15px;
  }
  
  .card:hover  {
    background-color: #ECECEC;
   
  }
  
  /* MEDIA QUERIES */

  @media (min-width: 768px) {

    header {
        width: 95%;
        height:100px;
        margin:30px auto;

        }

    input{
        width:50%;
        justify-self: right;
        margin:15px 0;
        
    }
     h1{
         font-size: 2em;
     }

    .grid-container {
      width: 95%;
      margin:15px 20px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr) ;
    }
  
  
  
    .avatar {
      width: auto;
      float: left;
      margin: 10px 10px 10px 0;
      width: 40%;
    } 
  
    .modalAvatar {
      width: 50%;
      margin: 10px;
    } 
  
    .text-container {
      margin-top: 20px;
    }
  
    .name {
      font-size: 1.1em;
    }
  
    .name,
    .email,
    .address {
      margin: 5px 10px;
      text-align: left;
    }
  
    .email,
    .address {
      font-size: 0.8em;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 5px 0;
    }
  
  
    .card {
      padding: 20px;
      margin-bottom: 35px;
      overflow: auto;
      margin: 10px auto;
      width: 95%;
    }
  
  }
  
  @media (min-width: 1024px) {

    header {
        display: flex;
        width:95%;
        margin:30px auto;
        text-align: center;
      }

      h1 {
        width:80%;
        font-size: 1.2em;
        background-color: #fff;
        color:rgb(29, 28, 28);
        text-align: left;
        margin-top:40px;
      }

      input{
        width:15%;
        margin-top:80px;
        margin-right:5px;
        text-align: right;

      }


    .grid-container {
        width: 95%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr) ;
      }
  
   
    .card {
      margin: 20px auto;
      padding: 10px;
    }
  
    .text-container {
      margin-top: 30px;
    }
  
    .name {
      font-size: 1em;
    }
  
    .avatar {
      width: 30%;
      margin: 10px;
    } 
  
    .modalAvatar {
      width: 40%;
      margin: 10px;
    } 
  
    .modal {
      width: 475px;
    }  
  
  }